{
  "semi": true,
  "singleQuote": false,
  "printWidth": 100,
  "trailingComma": "es5",
  "bracketSpacing": true,
  "arrowParens": "always",
  "svelteStrictMode": false,
  "svelteSortOrder": "scripts-markup-styles",
  "svelteAllowShorthand": true,
  "svelteIndentScriptAndStyle": true,
  "endOfLine": "lf"
}
